.nav {
  top: 0;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 10%;
  z-index: 1;
  position: relative;
}

.nav_logo {
  position: fixed;
  left: 1.5rem;
  width: 150px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.5s;
  cursor: pointer;
  z-index: 2;
}

.nav_logo:hover {
  transform: scale(1.05);
}

.nav_avatar {
  position: fixed;
  right: 1.5rem;
  object-fit: contain;
  transition: transform 0.5s;
  cursor: pointer;
}

.nav_avatar:hover {
  transform: scale(1.2);
}
.notSignedIn {
  transition: all 0.2s;
  border-radius: 50%;
  transform: scale(1.2);
  padding: 0.1%;
}

.notSignedIn:hover {
  border-radius: 50%;
  transform: scale(1.5);
  background-color: rgb(55, 55, 55);
}

.browseDiv {
  position: fixed;
  width: 5%;
  height: 50px;
  color: rgb(112, 112, 112);
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}
.browseDiv:hover {
  color: rgb(214, 214, 214);
  transform: scale(1.1);
}
.searchDiv {
  position: fixed;
  width: 20%;
  height: 50px;
  color: rgb(112, 112, 112);
  margin-left: 300px;
  display: flex;
  align-items: center;
}
.searchIcon {
  margin-left: 15%;
  cursor: pointer;
  transition: all 0.2s;
}
.searchIcon:hover {
  color: rgb(214, 214, 214);
  transform: scale(1.2);
}
.searchBox {
  color: rgb(112, 112, 112);
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 30%;
  margin-left: 5%;
}
.searchBox:focus {
  outline: none;
  color: rgb(214, 214, 214);
}
