* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}
.rows {
  margin-top: 50vh;
  padding-top: 50vh;
}
article {
  height: 50vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 2%;
}
article section {
  scroll-snap-align: start;
}
section {
  height: 50vh;
}
