.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  height: 2rem;
  z-index: 1;
}

.nav_logo {
  position: fixed;
  left: 1.5rem;
  width: 150px;
  object-fit: contain;
  transition: transform 0.5s;
}

.nav_logo:hover {
  transform: scale(1.05);
}

.nav_avatar {
  position: fixed;
  width: 45px;
  right: 1.5rem;
  object-fit: contain;
  transition: transform 0.5s;
}

.nav_avatar:hover {
  transform: scale(1.2);
}
.searchDiv {
  position: fixed;
  width: 50%;
  display: flex;
  justify-content: center;
  color: rgb(214, 214, 214);
}
.searchIcon {
  margin-right: 1%;
}
.searchBox {
  color: rgb(214, 214, 214);
  background-color: transparent;
  border: rgb(214, 214, 214) solid 2px;
  border-radius: 5px;
  width: 15%;
}
