.sortingPanel {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  overflow-y: scroll;
}
.movieSortingTitle {
  width: 30%;
  font-size: 13pt;
  margin-top: 5%;
  margin-left: 10%;
  padding-bottom: 2%;
  color: rgb(213, 213, 213);
  border-bottom: rgb(213, 213, 213) solid 1px;
}
.movieGenreItem {
  align-self: start;
  font-size: 9pt;
  margin-top: 2%;
  cursor: pointer;
  margin-left: 10%;
  color: rgb(187, 187, 187);
  transition: color 0.2s;
}
.movieGenreItem:hover {
  color: white;
}

.tvSortingTitle {
  width: 40%;
  margin-left: 10%;
  font-size: 13pt;
  margin-top: 5%;
  padding-bottom: 2%;
  color: rgb(213, 213, 213);
  border-bottom: rgb(213, 213, 213) solid 1px;
}
.tvGenreItem {
  align-self: start;
  font-size: 9pt;
  margin-top: 2%;
  margin-left: 10%;
  cursor: pointer;
  color: rgb(187, 187, 187);
  transition: color 0.2s;
}

.tvGenreItem:hover {
  color: white;
}
